.pdt-80{
  padding-top: 140px;
}
.form-signin {
  max-width: 400px;
  display:block;
  background-color: #f7f7f7;
  -moz-box-shadow: 0 0 3px 3px #888;
  -webkit-box-shadow: 0 0 3px 3px #888;
  box-shadow: 0 0 3px 3px #888;
  border-radius:2px;
}
.main{
  padding: 38px;
}
.social-box{
  margin: 0 auto;
  padding: 38px;
  border-bottom:1px #ccc solid;
}
.social-box a{
  font-weight:bold;
  font-size:18px;
  padding:8px;
}
.social-box a i{
  font-weight:bold;
  font-size:20px;
}
.heading-desc{
  font-size:20px;
  font-weight:bold;
  padding:38px 38px 0px 38px;

}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: 20px;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-radius: 5px;

}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-radius: 5px;
}
.login-footer{
  background:#f0f0f0;
  margin: 0 auto;
  border-top: 1px solid #dadada;
  padding:20px;
}
.login-footer .left-section a{
  font-weight:bold;
  color:#8a8a8a;
  line-height:19px;
}
.mg-btm{
  margin-bottom:20px;
}
.panel-default {
  border-color: #d3e0e9 !important;
  margin: auto;
}
.panel {
  margin-bottom: 22px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-default>.panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #d3e0e9;
}

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.panel-body {
  padding: 15px;
}
.form-horizontal .form-group {
  margin-left: -15px;
  margin-right: -15px;
}

.form-group {
  margin-bottom: 15px;
}
@media (min-width: 768px){
  .form-horizontal .control-label {
    text-align: right;
    margin-bottom: 0;
    padding-top: 7px;
  }
}
.form-control {
  width: 100%;
  height: 36px;
  padding: 6px 12px;
  background-color: #fff;
  border: 1px solid #ccd0d2;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-control, output {
  font-size: 14px;
  line-height: 1.6;
  color: #555;
  display: block;
}
.form-horizontal .form-group:after, .form-horizontal .form-group:before {
  content: " ";
  display: table;
}

*, :after, :before {
  box-sizing: border-box;
}
.mb-12{margin-bottom: 12px;}
.mg-auto{margin: auto;}
.pdt-120{padding-top: 120px;}
.btn-login {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.label-success {
  background-color: #5cb85c;
}
.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
.btn-comment{
  padding: 4px 8px;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-close{
  padding: 4px 8px;
}
.dropdown-menu.show{
  padding: 0 15px;
}
textarea.form-control {
  height: auto;
}
.btn-primary.disabled, .btn-primary:disabled{
  background-color: #dedede;
  border-color: #ffffff;
}